@charset "UTF-8";

/* Link das fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/*Criar as variaveis */
:root {
    --font-titulo: 'Sriracha', cursive;
    --font-texto: 'Passion One', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

header {
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 10px;
}