@charset "UTF-8";

:root{
    /*Cores */
    --cor-fundo:  #40404a;
    --cor-link: #dbf6a7;
    --cor-link-visitado : #00FF00;
    --cor-texto: #daf3de;
    --cor-destaque: #dbf6a7;

    /*Fontes */
    --fonte-pradao: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-pradao);
}

strong {
    color: var(--cor-destaque);
    font-size: 18px;
}