@charset "UTF-8";

/* Link das fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', cursive;
    --fonte-texto: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Se colocar esse trecho vai ficar com espaço furado la perto do footer e vai acontecer o efeito paralaxe
body {
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}  */

header {
    height: 265px;
    background-color: black;
    text-align: center;
    color: white;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 90px;
    padding-top: 35px;
}

header strong {
    font-size: 120px;
}

header p {
    font-size: 20px;
    font-family: var(--fonte-titulo); 
    font-weight: 100;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding-left: 30px;
}

main div {
    width: 560px;
    height: 580px;
    padding-left: 5px;
    color: black;
    background-color: white;
    font-size: 20px;
    margin-bottom: 165px;
    margin-top: 165px;
}

.div-dentro {
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
    margin-top: 0px;
    margin-bottom: 0px;
}

main p {
    font-family: var(--fonte-texto);
    font-size: 47px;
}

main aside {
    /*padding-left: 35px; */
    height: 730px;
    width: 1345px;
    padding:  170px 1px 1px 1px;
    margin-left: -30px;
    background-color: blueviolet; 
}

aside > div > p {
    margin: 0px;
}

aside#flor {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    /*margin: 165px 0px; */
}

aside#livro {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
}

aside div {
    margin-left: 30px;
}

footer {
    padding: 10px;
    height: 15px;
    background-color: black;
    color: white;
    text-align: center; 
}
