@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: serif;
    font-size: 16px;
    color: white;
    background-image: url('imagens/fundo.jpg');
    margin-left: 170px;
    width: 990px;
}

header {
   border-radius: 10px;
   border-color: #008080;
}

img#fundo-header {
    height: 200px;
    width: 990px;
}

nav {
    background-color: #000080;
    text-align: center;
    padding: 10px 0px 10px 1px;
    margin-top: -4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.377);
    
}

ul > a {
    padding: 3px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

main {
    background-color: #0000ff;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.377);
}
main > h1 {
    font-size: 2.5em;
    text-align: center;
}

main > img {
    margin-left: 150px;
    height: 700px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 10px;
    border-color: white;
} 



footer {
    background-color: #008080;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px; 
}