@charset "UTF-8";

/* Link das fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', cursive;
    --fonte-texto: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: blue;
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

header {
    height: 265px;
    background-color: black;
    text-align: center;
    color: white;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 90px;
    padding-top: 35px;
}

header strong {
    font-size: 120px;
}

header p {
    font-size: 20px;
    font-family: var(--fonte-titulo); 
    font-weight: 100;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
}

main div {
    width: 560px;
    height: 580px;
}

div#

